MYSQL_ROOT_PASSWORD=123456
LOCALHUB_AI_ENABLED=false
LOCALHUB_AI_MODEL=qwen-plus
LOCALHUB_AI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
LOCALHUB_AI_API_KEY=
LOCALHUB_CANAL_ENABLED=false
