MYSQL_ROOT_PASSWORD=change_me_for_local_development
LOCALHUB_AI_ENABLED=false
LOCALHUB_AI_PROVIDER=dashscope
LOCALHUB_AI_MODEL=qwen-plus
LOCALHUB_AI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
LOCALHUB_AI_API_KEY=
LOCALHUB_AI_EMBEDDING_MODEL=text-embedding-v3
LOCALHUB_AI_EMBEDDING_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
LOCALHUB_AI_EMBEDDING_DIMENSIONS=1024
LOCALHUB_CANAL_ENABLED=false
